body{
	margin: 0;
}

@font-face {
  font-family: Lato Black;
  src: url(Fonts/Lato-Black.ttf);
}

@font-face {
  font-family: Lato Black Italic;
  src: url(Fonts/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: Lato Bold;
  src: url(Fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato Bold Italic;
  src: url(Fonts/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: Lato Italic;
  src: url(Fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: Lato Light;
  src: url(Fonts/Lato-Light.ttf);
}

@font-face {
  font-family: Lato Light Italic;
  src: url(Fonts/Lato-LightItalic.ttf);
}

@font-face {
  font-family: Lato Regular;
  src: url(Fonts/Lato-Regular.ttf);
}



#hello_user{
  color:#4caf50;
  font-family:Lato Black;
  font-size:14px;
}
#log_out{
  color:black;
  opacity:0.3;
  font-family:Lato Bold;
  font-size:12px;
}

img{
  margin-left: 17%;
  margin-top: -10%;
}

.btn-md.round {
    border-radius: 24px;
    background-color:#1976d2;
    width: 70%;
    color: white;
    font-family: Lato Bold;
}
.btn-md.round:focus{
    outline:none;
}

hr{
  width:60%;
  margin-left: 19%;
  border-color:black;
  border-width:1px;
}


#nav_top{
  border: none;
  padding: 2%;
  background-color: white;
}

#nav_bottom{
  border: none;
  padding: 0.5%;
  background-color: white;
}

h4{
  text-align:center;
  font-family:Lato Bold;
  font-size:20px;
  color:black;
   opacity:0.7;
    margin-top:5%;
}

