body{
	margin: 0;
}

@font-face {
  font-family:Lato-Black;
  src: url(Lato-Black.ttf);
}

@font-face {
  font-family:Lato-BlackItalic;
  src: url(Lato-BlackItalic.ttf);
}

@font-face {
  font-family:Lato-Bold;
  src: url(Lato-Bold.ttf);
}

@font-face {
  font-family:Lato-BoldItalic;
  src: url(Lato-BoldItalic.ttf);
}

@font-face {
  font-family:Lato-Italic;
  src: url(Lato-Italic.ttf);
}
@font-face {
  font-family:Lato-Light;
  src: url(Lato-Light.ttf);
}

@font-face {
  font-family:Lato-LightItalic;
  src: url(Lato-LightItalic.ttf);
}

@font-face {
  font-family:Lato-Regular;
  src: url(Lato-Regular.ttf);
}


.navbar-default{
	border: none;
	padding: 2%;
	background-color: white;
}

#hello_user{
  color:#4caf50;
  font-family:Lato-Black;
  font-size:14px;
}
#log_out{
  color:black;
  opacity:0.3;
  font-family:Lato-Bold;
  font-size:12px;
}

img{
  margin-left: 17%;
  margin-top: -10%;
}

.btn-md.round {
    border-radius: 24px;
    background-color:#1976d2;
    width: 70%;
    color: white;
    font-family: Lato-Bold;
}

hr{
  width:60%;
  margin-left: 19%;
  border-color:black;
  border-width:1px;
}